
body{
    font-size: 1.125rem;
    color:#b7832f;
    margin: 0;
    background: black;
}

/* from a minimum widths of 400px up to the width of 649px and bigger */


h1{
    font-size: 3rem;
    color: #9ad506;
    text-align: center;
}
h1 span{
    color: #b7832f;
}
h2{
    font-size: 1.5rem;
    margin-left: .7em;


}
p{
    margin-top: 0;
}
    /* layout */
img{
    max-width: 100%;
}
.container{
    width: 95%;
max-width: 980px;
margin: 0 auto;
}
.container p{
    margin: 1em 1em;
    text-align: justify;
    align-items: flex-start;
} 
.columns{
    display: flex;
    justify-content: space-between;


}
.col-1{
width: 25%;
}
.col-2{
width: 50%;
}
.col-3{
width: 75%;
}
.col-bg p{
    background-color: #212614;
    color: #9ad506;
    padding: .5em;
    /* line-clamp: 3000em;
    line-gap-override: 100en; */
}
/* MEDIA QUERIES */

@media (max-width : 600px){
    .columns{
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    body{
        background: #fff;
    }
    }
    @media (min-width:400px) and (max-width:599px) {
        body{
            background: pink;
        }
        font{
           color: rgb(149, 5, 5); 
        }
        @media (max-width : 600px){
            .col-1,
            .col-2,
            .col-3{
                width: 100%;
            }
            }
        
/* col-bg p{
        color: #7eaa11;
    } */

}
